.myVideosContainer {
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 2rem 3px black;
    position: absolute;
    width: 73vh;
    top: 1.5vh;
    left: 0;
    right: 0;
    margin: auto;
    height: 85vh; /* Adjusts the maximum height to allow scrolling */
    overflow-y: auto; /* Adds a vertical scrollbar when content overflows */
}

.myVideosContainer p {
    color: white;
}
/* Custom Scrollbar for WebKit Browsers */
.myVideosContainer::-webkit-scrollbar {
    width: 12px; /* Width of the entire scrollbar */
}

.myVideosContainer::-webkit-scrollbar-track {
    background: #444; /* Background of the scrollbar track */
    border-radius: 5px; /* Rounded corners for the track */
}

.myVideosContainer::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the thumb */
    border: 2px solid #333; /* Adds a border around the thumb */
}

.myVideosContainer::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color when hovered */
}

/* Custom Scrollbar for Firefox */
.myVideosContainer {
    scrollbar-width: thin; /* Makes the scrollbar thinner */
    scrollbar-color: #888 #444; /* Thumb color and track color */
}

.myVideosContainer button {
    border: none;
    background-color: #E71D18;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 3px;
    font-size: 1.25rem;
    cursor: pointer;
    width: 600px;
    margin-bottom: 10px;
}

.myVideosContainer button:hover {
    background-color: #9F6065;
}

.video {
    margin-top: 20px;
}